# Dependencies
node_modules/
client/frontend/dist/
client/frontend/wailsjs
client/frontend/package.json.md5

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Local data
.egogo/

# Build artifacts
client/build/bin/
